# Topic ID to listen to
# Replace with your topic ID or create a new one
HEDERA_TOPIC_ID=0.0.5931541

# Hedera network (testnet, previewnet, or mainnet)
HEDERA_NETWORK=testnet

# For custom/solo Hedera network
# Uncomment and set these values if using a custom/solo network
# HEDERA_CUSTOM_ENDPOINT=localhost:50211
# HEDERA_CUSTOM_MIRROR_ENDPOINT=localhost:5600

# Account that creates the topic (streamer)
STREAMER_ACCOUNT_ID=
STREAMER_PRIVATE_KEY=

# Account that views and sends messages to the topic (viewer)
VIEWER_ACCOUNT_ID=0.0.5908277
VIEWER_PRIVATE_KEY=
ELEVEN_LABS_API_KEY=